body{
    margin: 0%;
    padding-top: 100px;
    padding-left:110px;
    padding-right: 10px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

div ,section{
    margin: 0%;
    padding: 0%;
}
button{
    cursor: pointer;
}

.body-content{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}
.full-content-container{
    display: grid;
    grid-template-columns: 1fr;
}

.content-information{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

}
.content-preview-thumbnail{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.video-time{
    background-color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    position: absolute;
    bottom: 8px;
    padding: 2px;
    border-radius: 3px;
    right: 8px;
}
.content-details{
    display: grid;
    grid-template-columns: 35px 1fr;
}
.logo{
    width: 35px;
    margin-top: 5px;
}
.channel-logo{
    width: 100%; 
    border-radius: 50%;
}

.video-info-container{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 5px;
    margin-top: 5px;
}
.video-title{
    width: 100%;
    margin-top: 3px;
    font-size: 0.95rem;
    font-weight: 600;
}
.channel-name{
    margin-top: 2px;
    font-size: 0.9rem;
    color: rgb(52, 52, 52);
}
.video-views{
    margin-top: 2px;
    font-size: 0.9rem;
    color: rgb(52, 52, 52);

}

@media(max-width:1200px){
    .body-content{
        grid-template-columns:1fr 1fr 1fr;
    }
}
@media(max-width:800px){
    .body-content{
        grid-template-columns:1fr 1fr;
    }
}


